[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Flutter mobile app for plotting performance screens of computers / servers with real-time data from Node.js which is connected to a Python application.
[access "refs/*"]
	owner = group user/Selim Can Gülsever (syloog)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Selim Can Gülsever (syloog)
	label-Verified = -1..+1 group user/Selim Can Gülsever (syloog)
	push = group user/Selim Can Gülsever (syloog)
	read = group user/Selim Can Gülsever (syloog)
	rebase = group user/Selim Can Gülsever (syloog)
	removeReviewer = group user/Selim Can Gülsever (syloog)
	submit = group user/Selim Can Gülsever (syloog)
[access "refs/heads/*"]
	create = group user/Selim Can Gülsever (syloog)
	push = +force group user/Selim Can Gülsever (syloog)
	pushMerge = group user/Selim Can Gülsever (syloog)
	read = group user/Selim Can Gülsever (syloog)
[access "refs/tags/*"]
	push = group user/Selim Can Gülsever (syloog)
	push = +force group user/Selim Can Gülsever (syloog)
